@import "../variables";

:local(.image-container) {
  margin: $spacer-sm;
  max-width: 200px;
  cursor: pointer;
}

:local(.image) {
  max-width: 100%;
  height: auto;
  transition: box-shadow 100ms ease-in-out;
  transition: transform 100ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 4px 0 grey;
    transform: scale(1.02);
  }
}
